<div id="webpage">
  <div id="background"></div>

  <div id="contenido">
    <div class="menu shadow">
      <div class="image">
        <img class="shadow" />
      </div>
      <div class="lista">
        <div>¿QUIÉN SOY?</div>
        <div>EXPERIENCIA</div>
        <div>FORMACIÓN</div>
        <div>TECNOLOGÍAS</div>
        <div>PROYECTOS</div>
      </div>
      <div class="contacto">
        <!-- <i class="fab fa-github"></i>
        <i class="fab fa-mail"></i> -->
      </div>
    </div>
    <div class="main">
      <div class="seccion seccion1">
        <div class="title">
          <p class="name">CHRISTIAN MOLTÓ</p>
          <p class="profesion">WEB DEVELOPER</p>
          <p class="soon">TBA</p>
        </div>
      </div>
      <div class="seccion seccion2"></div>
      <div class="seccion seccion3"></div>
      <div class="seccion seccion4"></div>
    </div>
  </div>
</div>
