@import '../../../styles.scss';

#webpage {
  #background {
    background: url(../../../assets/ch-snow-4.jpeg);
    height: 100vh;
    width: 2000px;
    position: absolute;
    pointer-events: none;
    opacity: 0.5;
    z-index: 0;
    right: 0;
  }

  #contenido {
    display: flex;
    height: 100vh;

    .menu {
      flex: 20%;
      z-index: 2;
      background: #421bb98a;
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 330px;

      .image {
        flex: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          width: 280px;
          height: 280px;
          border-radius: 100%;
          border: 16px solid #ffffff5e;
          margin: auto;
          content: url('../../../assets/ch-arriba.png');
        }
      }
      .lista {
        flex: 24%;
        display: flex;
        flex-direction: column;
        font-size: 26px;
        font-family: 'comfort';
        color: #ffffffdd;
        margin: auto;
        cursor: pointer;
        justify-content: space-around;
        user-select: none;
        a:hover {
          color: #ffffff !important;
          transition: 0.1s ease-out;
        }
      }

      .contacto {
        flex: 30%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 20px;
        .iconos {
          display: flex;
          flex-direction: row;
          justify-content: center;
          i {
            font-size: 60px !important;
            padding: 10px;
            color: #ffffff5e;
            cursor: pointer;
            &:hover {
              color: #ffffff8e !important;
              transition: 0.3s ease-out;
            }
          }
        }
      }
    }

    .main {
      flex: 80%;
      z-index: 1;
      overflow-y: scroll;
      .seccion {
        height: 100%;
        width: 100%;
        border-bottom: 1px solid black;
        .title-seccion {
          position: relative;
          font-size: 60px;
          padding: 20px;
          font-family: 'permanente';
          width: 100%;
          color: #421bb98a;
        }
      }
      .seccion:not(:first-child) {
        background: white;
      }
    }

    .seccion1 {
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.7931547619047619) 25%, rgba(0, 212, 255, 0) 100%);

      .title {
        .name {
          position: relative;
          top: 100px;
          font-size: 60px;
          font-family: permanente;
          color: #545353;
          width: 100%;
          text-align: center;
        }
        .profesion {
          position: relative;
          top: 63px;
          font-size: 40px;
          font-family: 'permanente';
          width: 100%;
          text-align: center;
          padding-left: 230px;
          color: #421bb98a;
        }
      }
    }

    .seccion2 {
      .foto {
        position: relative;
        width: fit-content;
        border: 1px solid #80808014;
        top: -50px;
        right: -53vw;
        transform: rotate(5deg);
        .tirita {
          width: 140px;
          position: absolute;
          top: -10px;
          left: -20px;
        }
        .pie-foto {
          font-size: 12px;
          position: absolute;
          bottom: -6px;
          right: 11px;
          color: #00000082;
        }
        .el-yeti {
          width: 340px;
          border: 10px solid #0000000f;
          border-bottom: 40px solid #0000000f;
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.25) !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu {
    display: none;
  }
}
